@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.section-main {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: radial-gradient(circle, rgba(10, 132, 223, 1) 0%, rgba(36, 80, 183, 0.95) 100%);
  .container-info-event {
    .name-info-event {
      display: inline-block;
      font-family: $main-font;
      text-transform: capitalize;
      font-size: 25px;
      font-weight: 700;
      text-align: left;
      color: #fff;
      padding: 2px 15px;
      border-right: 1px solid #fff;
      span {
        display: block;
        font-family: $subtitle-font;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
      }
    }
    .powered-by-event {
      display: inline-block;
      font-family: $subtitle-font;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 700;
      color: #fff;
      padding: 2px 15px;
      span {
        display: block;
        font-family: $main-font;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
      }
    }
  }
  .hero-event {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    .text-section-main {
      width: 100%;
      max-width: 480px;
      text-align: center;
      .title-section-main {
        font-family: $main-font;
        font-size: 70px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: 1px;
        color: #fff;
      }
      .subtitle-section-main {
        font-family: $main-font;
        font-size: 52px;
        font-weight: 400;
        color: #fff;
        span {
          font-family: $subtitle-font;
          font-size: 80px;
          font-weight: 700;
          color: rgb(252, 255, 97);
        }
      }
      .hashtag-section-main {
        font-family: $main-font;
        font-size: 35px;
        font-weight: 700;
        color: #fff;
        text-align: left;
        margin: 40px 50px;
      }
    }
    .box-img-section-main {
      width: 100%;
      max-width: 450px;
      margin-left: -140px;
      .img-section-main {
        width: 530px;
        object-fit: cover;
        overflow: hidden;
      }
    }
    .container-register {
      border: rgb(15, 176, 240) 8px groove;
      margin-left: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22%;
      height: 480px;
      background: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
      filter: hue-rotate();
      animation: animate 7s linear infinite;

      .box-register {
        position: relative;
        padding: 50px;
        width: 360px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
        &::after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border-radius: 5px;
          pointer-events: none;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%) rgba(255, 255, 255, 0.1) 15%,
            transparent 50%, transparent 85%, rgba(255, 255, 255, 0.1) 100%;
        }

        .form-register {
          position: relative;
          width: 100%;
          .image {
            width: 30px;
            height: 30px;
          }
          .title-form {
            text-align: center;
            font-family: cursive;
            font-size: 35px;
            color: #fff;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 30px;
          }
          .span {
            font-family: cursive;
            font-size: 18px;
            color: #fff;
          }
          .inputBx {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            input {
              width: 100%;
              outline: none;
              border: 1px solid rgba(255, 255, 255, 0.2);
              background: transparent;
              padding: 8px 10px;
              padding-left: 40px;
              border-radius: 6px;
              color: #fff;
              font-size: 16px;
              font-weight: 300;
              box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
              &::placeholder {
                color: #fff;
                font-family: cursive;
              }
            }
            input[type="submit"] {
              background: #fff;
              color: #111;
              max-width: 100px;
              padding: 8px 10px;
              font-weight: 500;
              letter-spacing: 1px;
              font-family: cursive;
              font-size: 17px;
            }
            img {
              position: absolute;
              left: 10px;
              transform: scale(0.7);
              filter: invert(1);
            }
          }
          p {
            color: #fff;
            font-weight: 300;
            font-size: 15px;
            margin-top: 5px;
          }
          a {
            color: #fff;
          }
          .checkBox {
            padding-right: 9px;
            margin-left: 22px;
          }
          .roles {
            padding-top: 20px;
            padding-left:48px;
            .admin-img {
              margin: -20px 15px 0 -5px;
              width: 43px;
              height: 43px;
            }
          }
          .select {
            margin: 10px 0 0 10px;
            opacity: 1;
            border-radius: 10%;
            font-size: 15px;
            width: 110px;
            background-color: rgba(0, 0, 0, 0.2);
            color: #fff;
            font-weight: 500;
            font-family: cursive;
          }
          .rememberMe{
            margin-left: 22px;
          }
          .p {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-family: cursive;
          }
          .boton {
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
