* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.section-main {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: radial-gradient(circle, #0a84df 0%, rgba(36, 80, 183, 0.95) 100%);
}
.section-main .container-info-event .name-info-event {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  padding: 2px 15px;
  border-right: 1px solid #fff;
}
.section-main .container-info-event .name-info-event span {
  display: block;
  font-family: "Caveat", cursive;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}
.section-main .container-info-event .powered-by-event {
  display: inline-block;
  font-family: "Caveat", cursive;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  padding: 2px 15px;
}
.section-main .container-info-event .powered-by-event span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}
.section-main .hero-event {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.section-main .hero-event .text-section-main {
  width: 100%;
  max-width: 480px;
  text-align: center;
}
.section-main .hero-event .text-section-main .title-section-main {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
  color: #fff;
}
.section-main .hero-event .text-section-main .subtitle-section-main {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  font-weight: 400;
  color: #fff;
}
.section-main .hero-event .text-section-main .subtitle-section-main span {
  font-family: "Caveat", cursive;
  font-size: 80px;
  font-weight: 700;
  color: #fcff61;
}
.section-main .hero-event .text-section-main .hashtag-section-main {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin: 40px 50px;
}
.section-main .hero-event .box-img-section-main {
  width: 100%;
  max-width: 450px;
  margin-left: -140px;
}
.section-main .hero-event .box-img-section-main .img-section-main {
  width: 530px;
  object-fit: cover;
  overflow: hidden;
}
.section-main .hero-event .container-register {
  border: #0fb0f0 8px groove;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 480px;
  background: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
  filter: hue-rotate();
  animation: animate 7s linear infinite;
}
.section-main .hero-event .container-register .box-register {
  position: relative;
  padding: 50px;
  width: 360px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.section-main .hero-event .container-register .box-register::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%) rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 85%, rgba(255, 255, 255, 0.1) 100%;
}
.section-main .hero-event .container-register .box-register .form-register {
  position: relative;
  width: 100%;
}
.section-main .hero-event .container-register .box-register .form-register .image {
  width: 30px;
  height: 30px;
}
.section-main .hero-event .container-register .box-register .form-register .title-form {
  text-align: center;
  font-family: cursive;
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.section-main .hero-event .container-register .box-register .form-register .span {
  font-family: cursive;
  font-size: 18px;
  color: #fff;
}
.section-main .hero-event .container-register .box-register .form-register .inputBx {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.section-main .hero-event .container-register .box-register .form-register .inputBx input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 8px 10px;
  padding-left: 40px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}
.section-main .hero-event .container-register .box-register .form-register .inputBx input::placeholder {
  color: #fff;
  font-family: cursive;
}
.section-main .hero-event .container-register .box-register .form-register .inputBx input[type=submit] {
  background: #fff;
  color: #111;
  max-width: 100px;
  padding: 8px 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: cursive;
  font-size: 17px;
}
.section-main .hero-event .container-register .box-register .form-register .inputBx img {
  position: absolute;
  left: 10px;
  transform: scale(0.7);
  filter: invert(1);
}
.section-main .hero-event .container-register .box-register .form-register p {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
}
.section-main .hero-event .container-register .box-register .form-register a {
  color: #fff;
}
.section-main .hero-event .container-register .box-register .form-register .checkBox {
  padding-right: 9px;
  margin-left: 22px;
}
.section-main .hero-event .container-register .box-register .form-register .roles {
  padding-top: 20px;
  padding-left: 48px;
}
.section-main .hero-event .container-register .box-register .form-register .roles .admin-img {
  margin: -20px 15px 0 -5px;
  width: 43px;
  height: 43px;
}
.section-main .hero-event .container-register .box-register .form-register .select {
  margin: 10px 0 0 10px;
  opacity: 1;
  border-radius: 10%;
  font-size: 15px;
  width: 110px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 500;
  font-family: cursive;
}
.section-main .hero-event .container-register .box-register .form-register .rememberMe {
  margin-left: 22px;
}
.section-main .hero-event .container-register .box-register .form-register .p {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: cursive;
}
.section-main .hero-event .container-register .box-register .form-register .boton {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
